
<a [routerLink]="['/profile']">Perfil</a>

<h3>The burger list</h3>
<div>
    <label for="burger_title"> Search Burger: </label>
    <input id="burger_title" placeholder="burger name"
            type="text" [(ngModel)]="pattern">
<div>

    <a href (click)="sortTable('price')">Sort by Price!</a>
    <a href (click)="sortTable('rates')">Sort by Rate!</a>

<div>
  <div class="burger" *ngFor="let burger of burgers | searchBurger:'title': pattern | sortBurgers:path:order">

    <a [routerLink]="['/burger',burger._id]">
      <img [src]="burger.imgPath" width=100/>
    </a>
    <h3> {{ burger.title }} </h3>
    <p> {{ burger.description }} </p>
    <p> price: {{ burger.price }} </p>
    <p> rating: {{ burger.rates | averageRating }} </p>
  </div>
</div>
