input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
}

.sort{
  border-style: groove;
  color: #003300;
  font-size: 120%;
  font-weight: bold;
}

.burgers{
  font-weight: bold;
  color:#003300;
}

.price{
color:#003300;
font-size:larger;
}

.rating{
  color:#003399;
  font-size:larger;
  font-weight: bold;
}
.img-responsive{
  width: 100%;
}




