<p>
  burger-detail works!
</p>
<a [routerLink]="['']"> Back to list </a>

<div *ngIf="burger">
  <div class="burger-detail">
    <img height="300" [src]="burger.imgPath" />
  </div>

  <div class="burger-info">
    <h2> {{ burger.title }}&nbsp;</h2>
    <h3> {{ burger.description }} </h3>
    <p> {{ burger.price }} </p>
    <p> {{ burger.rates | averageRating }}</p>
    

    
      <h4> Restaurants </h4>
      <p> {{ burger.restaurants }}</p>
      <p>add new Restaurant!</p>


  </div>
  <ul *ngFor="let restaurant of restaurants">
    <li> {{restaurant.title}}</li>
  </ul>

  <div>
    <input type= "number" [(ngModel)]="rating">
    <button (click)="saveRating()"> Save Rating </button>
  </div>


  <ul *ngFor="let opinion of opinions">
    <li>{{opinion.text}}</li>
  </ul>

  <!-- <button (click)="deletePhone()"> Delete </button> -->

  <div>
    <input [(ngModel)]="opinion">
    <button (click)="saveOpinion()"> Save Opinion </button>
  </div>

</div>

<app-burger-map></app-burger-map>






